In [2]:
import pandas as pd

Reading Data.

In [3]:
car_data = 'car.csv'
data_car = pd.read_csv(car_data)
data_car

     buying  maint  doors persons lug_boot safety acceptance
0     vhigh  vhigh      2       2    small    low      unacc
1     vhigh  vhigh      2       2    small    med      unacc
2     vhigh  vhigh      2       2    small   high      unacc
3     vhigh  vhigh      2       2      med    low      unacc
4     vhigh  vhigh      2       2      med    med      unacc
...     ...    ...    ...     ...      ...    ...        ...
1723    low    low  5more    more      med    med       good
1724    low    low  5more    more      med   high      vgood
1725    low    low  5more    more      big    low      unacc
1726    low    low  5more    more      big    med       good
1727    low    low  5more    more      big   high      vgood

[1728 rows x 7 columns]

info():
    it shows Index, Datatype and Memory information

In [4]:
data_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   buying      1728 non-null   object
 1   maint       1728 non-null   object
 2   doors       1728 non-null   object
 3   persons     1728 non-null   object
 4   lug_boot    1728 non-null   object
 5   safety      1728 non-null   object
 6   acceptance  1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

Columns

In [5]:
data_car.shape[1]

7

In [6]:
data_car.columns

Index(['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety',
       'acceptance'],
      dtype='object')

Rows

In [7]:
data_car.shape[0]

1728

In [8]:
data_car.index

RangeIndex(start=0, stop=1728, step=1)

In [9]:
data_car.describe()

       buying  maint doors persons lug_boot safety acceptance
count    1728   1728  1728    1728     1728   1728       1728
unique      4      4     4       3        3      3          4
top     vhigh  vhigh     2       2    small    low      unacc
freq      432    432   432     576      576    576       1210

In [15]:
data_car.buying.sort_values(ascending=False)

0      vhigh
285    vhigh
296    vhigh
295    vhigh
294    vhigh
       ...
571     high
570     high
569     high
568     high
863     high
Name: buying, Length: 1728, dtype: object